body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
#container{
    background-color:#202020;
    height:100%;
    width:100%;
}
#header{
    background-color:#101010;
    height:10%;
    width:100%;
}
#menu{
    background-color:#101010;
    height:10%;
}
#menu.button{
    text-color:red;
}
#content{
    margin-top:5%;
    background-color:#101010;
    height:70%;
    margin-bottom:5%;
}
#content-left{
    background-color:#101010;
}
#content-right{
    background-color:#101010;
}