body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family:Helvetica;
}
#container{
    background-color:#303030;
    height:100%;
    width:100%;
}
header{
    background-color:#202020;
    height:10%;
    width:100%;
}
header img{
    position:relative;
    top:10%;
    height:80%;
    vertical-align: middle;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#seperator{
    height:0.2%;
    width:100%;
    background-color:white;
}
#menu{
    display:flex;
    background-color:#202020;
    height:5%;
    width:100%;
}
#menubutton{
    line-height:150%;
    vertical-align: middle;
    text-align:center;
    text-decoration:none;
    margin-top:5px;
    color:red;
    border:none;
    height:80%;
    width:15%;
    flex-grow:1;
}
#menubutton:hover{
    background-color:#303030;
}
#content{
    overflow-y:auto;
    font-size:2vw;
    text-align:center;
    color:white;
    position:absolute;
    height:84%;
    width:100%;
}
#movieposter{
    max-height:70%;
    max-width:20%;
}
#scrollimage{
    max-height:10%;
}
#contentbox{
    position:absolute;
    top:4%;
    left:5%;
    height:90%;
    width:90%;
    line-height:100px;
}
::-webkit-scrollbar{
    width:1%;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    outline: 1px solid red;
}
#contentbox-left{
    line-height:20px;
    font-size:1vw;
    height:100%;
    width:20%;
    background-color:#202020;
    float:left;
}
#contentbox-right{
    line-height:20px;
    font-size:1vw;
    height:100%;
    width:75%;
    margin-left:5%;
    background-color:#202020;
    float:left;
    overflow-y:auto;
}